[workspace]
resolver = "2"
members = [
    "dragonfly-client",
    "dragonfly-client-backend",
    "dragonfly-client-config",
    "dragonfly-client-core",
    "dragonfly-client-init",
    "dragonfly-client-storage",
    "dragonfly-client-util",
    "dragonfly-client-backend/examples/plugin",
]

[workspace.package]
version = "0.2.6"
authors = ["The Dragonfly Developers"]
homepage = "https://d7y.io/"
repository = "https://github.com/dragonflyoss/client.git"
keywords = ["dragonfly", "dragonfly-client", "p2p", "container", "docker-image"]
license = "Apache-2.0"
readme = "README.md"
edition = "2021"

[workspace.dependencies]
dragonfly-client = { path = "dragonfly-client", version = "0.2.6" }
dragonfly-client-core = { path = "dragonfly-client-core", version = "0.2.6" }
dragonfly-client-config = { path = "dragonfly-client-config", version = "0.2.6" }
dragonfly-client-storage = { path = "dragonfly-client-storage", version = "0.2.6" }
dragonfly-client-backend = { path = "dragonfly-client-backend", version = "0.2.6" }
dragonfly-client-util = { path = "dragonfly-client-util", version = "0.2.6" }
dragonfly-client-init = { path = "dragonfly-client-init", version = "0.2.6" }
thiserror = "1.0"
dragonfly-api = "=2.1.23"
reqwest = { version = "0.12.4", features = [
    "stream",
    "native-tls",
    "default-tls",
    "rustls-tls",
    "gzip",
    "brotli",
    "zstd",
    "deflate",
] }
reqwest-middleware = "0.4"
rcgen = { version = "0.12.1", features = ["x509-parser"] }
hyper = { version = "1.5", features = ["full"] }
hyper-util = { version = "0.1.10", features = [
    "client",
    "client-legacy",
    "tokio",
    "server-auto",
    "http1",
    "http2",
] }
hyper-rustls = { version = "0.26", features = ["http1", "http2", "logging"] }
http-range-header = "0.4.2"
tracing = "0.1"
url = "2.5.4"
rustls = { version = "0.22.4", features = ["tls12"] }
rustls-pki-types = "1.11.0"
rustls-pemfile = "2.2.0"
sha2 = "0.10"
blake3 = "1.5.5"
crc = "3.2.1"
uuid = { version = "1.12", features = ["v4"] }
hex = "0.4"
rocksdb = "0.22.0"
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.9"
http = "1"
tonic = { version = "0.12.2", features = ["tls"] }
tonic-reflection = "0.12.3"
tokio = { version = "1.43.0", features = ["full"] }
tokio-util = { version = "0.7.13", features = ["full"] }
tokio-stream = "0.1.17"
validator = { version = "0.16", features = ["derive"] }
warp = "0.3.5"
headers = "0.4.0"
regex = "1.11.1"
humantime = "2.1.0"
prost-wkt-types = "0.6"
chrono = { version = "0.4.39", features = ["serde", "clock"] }
openssl = { version = "0.10", features = ["vendored"] }
opendal = { version = "0.48.0", features = [
    "services-s3",
    "services-azblob",
    "services-gcs",
    "services-oss",
    "services-obs",
    "services-cos",
    "services-webhdfs",
] }
clap = { version = "4.5.27", features = ["derive"] }
anyhow = "1.0.95"
toml_edit = "0.22.23"
toml = "0.8.19"
base16ct = { version = "0.2", features = ["alloc"] }
bytesize = { version = "1.2.0", features = ["serde"] }
bytesize-serde = "0.2.1"
percent-encoding = "2.3.1"
tempfile = "3.16.0"
tokio-rustls = "0.25.0-alpha.4"
serde_json = "1.0.138"
lru = "0.12.5"
fs2 = "0.4.3"

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
strip = "symbols"

[profile.bench]
debug = true
