[package]
name = "dragonfly-client"
version = "0.1.13"
authors = ["The Dragonfly Developers"]
homepage = "https://d7y.io/"
repository = "https://github.com/dragonflyoss/client.git"
description = "Dragonfly client written in Rust"
keywords = ["dragonfly", "dragonfly-client", "p2p", "container", "docker-image"]
license = "Apache-2.0"
readme = "README.md"
edition = "2021"

[[bin]]
name = "dfdaemon"
path = "src/bin/dfdaemon/main.rs"

[[bin]]
name = "dfget"
path = "src/bin/dfget/main.rs"

[[bin]]
name = "dfstore"
path = "src/bin/dfstore/main.rs"

[dependencies]
clap = { version = "4.4.13", features = [ "derive" ] }
home = "0.5.4"
tracing = "0.1"
tracing-log = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
tracing-appender = "0.2.3"
tracing-opentelemetry = "0.18.0"
humantime = "2.1.0"
serde = { version = "1.0", features = ["derive"] }
serde_regex = "1.1.0"
serde_yaml = "0.9"
serde_json = "1.0"
validator = { version = "0.16", features = ["derive"] }
thiserror = "1.0"
opentelemetry = { version = "0.18.0", default-features = false, features = ["trace", "rt-tokio"] }
opentelemetry-jaeger = { version = "0.17.0", features = ["rt-tokio"] }
lazy_static = "1.4"
prometheus = "0.13.3"
warp = "0.3.5"
tonic = { version = "0.9.2", features = ["gzip"] }
tonic-health = "0.9.2"
tonic-reflection = "0.9.2"
tokio-stream = "0.1.14"
reqwest = { version = "0.11.18", features = ["stream"] }
futures = "0.3.28"
tokio = { version = "1.29.1", features = ["full"] }
tokio-util = { version = "0.7.8", features = ["full"] }
bytes = "1.4"
hostname = "^0.3"
local-ip-address = "0.5.3"
rocksdb = "0.21.0"
num_cpus = "1.0"
chrono = { version = "0.4.26", features = ["serde"] }
dragonfly-api = "2.0.88"
sysinfo = "0.29.6"
sha2 = "0.10"
hex = "0.4"
uuid = { version = "1.4", features = ["v4"] }
url = "2.4.0"
async-stream = "0.3.5"
anyhow = "1.0.75"
base16ct = { version = "0.2", features = ["alloc"] }
http = "1"
rand = "0.8.5"
prost-wkt-types = "0.4"
tower = "0.4.13"
indicatif = "0.17.7"
dashmap = "5.5.3"
fs2 = "0.4.3"
hashring = "0.3.3"
libc = "0.2"
fslock = "0.2.1"
openssl = { version = "0.10", features = ["vendored"] }
humantime-serde = "1.1.1"
leaky-bucket = "1.0.1"
hyper = { version = "1.1", features = ["full"] }
hyper-util = { version = "0.1.2", features = ["tokio"] }
tokio-rustls = "0.25"
hyper-rustls = "0.26"
http-body-util = "0.1.0"
regex = "1.10.2"
http-range-header = "0.4.0"
futures-util = "0.3.30"
