name: Release

on:
  push:
    tags:
      - v*

jobs:
  release-github:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - x86_64-unknown-linux-gnu
          - x86_64-unknown-linux-musl
          - aarch64-unknown-linux-gnu
          - aarch64-unknown-linux-musl

    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Checkout
        uses: actions/checkout@v4

      - uses: Swatinem/rust-cache@v2
        with:
            key: ${{ matrix.target }}
            cache-on-failure: true

      - name: Get the release version from the tag
        shell: bash
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Install cross-compilation tools
        uses: taiki-e/setup-cross-toolchain-action@v1
        with:
          target: ${{ matrix.target }}

      - run: sudo apt update      
      - name: Add musl tools
        run: sudo apt install -y musl musl-dev musl-tools
        if: endsWith(matrix.target, '-musl')
      - name: Add aarch-gnu tools
        run: sudo apt install -y gcc-aarch64-linux-gnu
        if: startsWith(matrix.target, 'aarch64-unknown-linux')
        
      - name: Install cargo-deb
        uses: taiki-e/cache-cargo-install-action@v2
        with:
          tool: cargo-deb

      - name: Install cargo-generate-rpm
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-generate-rpm
          
      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y protobuf-compiler libclang-dev

      - name: Build binaries
        shell: bash
        run: |
            cargo build --release --bins --target ${{ matrix.target }}

      - name: Package
        shell: bash
        run: |
          set -euxo pipefail
          mkdir -p target/release
          cp target/${{ matrix.target }}/release/dfdaemon target/release
          cp target/${{ matrix.target }}/release/dfget target/release
          cp target/${{ matrix.target }}/release/dfstore target/release
          cp target/${{ matrix.target }}/release/dfcache target/release
          cp target/${{ matrix.target }}/release/dfinit target/release

      - name: Build archive client(DEB)
        shell: bash
        run: |
          binary_name="client"
          dirname="$binary_name-${{ env.VERSION }}-${{ matrix.target }}"
          cargo deb -p dragonfly-client --target ${{ matrix.target }} --output $dirname.deb
          echo "CLIENT_DEB_ASSET=$dirname.deb" >> $GITHUB_ENV

      - name: Build archive client(RPM)
        shell: bash
        run: |
          binary_name="client"
          dirname="$binary_name-${{ env.VERSION }}-${{ matrix.target }}"
          cargo generate-rpm -p dragonfly-client --target ${{ matrix.target }} --output $dirname.rpm
          echo "CLIENT_RPM_ASSET=$dirname.rpm" >> $GITHUB_ENV

      - name: Build archive client(Tar GZ)
        shell: bash
        run: |
          binary_name="client"
          dirname="$binary_name-${{ env.VERSION }}-${{ matrix.target }}"
          dfget="target/release/dfget"
          dfdaemon="target/release/dfdaemon"
          dfstore="target/release/dfstore"
          dfcache="target/release/dfcache"
          dfinit="target/release/dfinit"
          mkdir "$dirname"
          mv "$dfget" "$dfdaemon" "$dfstore" "$dfcache" "$dfinit" "$dirname"/
          tar -czf "$dirname.tar.gz" "$dirname"
          echo "CLIENT_TAR_GZ_ASSET=$dirname.tar.gz" >> $GITHUB_ENV

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          draft: true
          files: |
            ${{ env.CLIENT_RPM_ASSET }}
            ${{ env.CLIENT_DEB_ASSET }}            
            ${{ env.CLIENT_TAR_GZ_ASSET }}

  publish-crates:
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true
            
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install protobuf-compiler libclang-dev

      - uses: katyo/publish-crates@v2
        with:
           registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
           ignore-unpublished-changes: true
